:root {
  --background-color: #f5f5f5; 
  --text-color: #333; 
  --header-color: #ff7043; 
  --footer-color: #ff7043;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--header-color);
  text-align: center;
}

.container .logo {
  font-size: var(--p-font);
  font-weight: 600;
  position: relative;
  color: var(--background-color);
  background: var(--header-color);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.container .title {
  font-size: var(--main-font);
  font-weight: 500;
  position: relative;
  color: var(--header-color);
  text-align: center;
  margin-bottom: 20px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--header-color);
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 2px solid var(--header-color);
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: var(--header-color);
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--header-color);
}

form .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: var(--header-color);
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: none;
  color: var(--background-color);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s ease;
  background: var(--header-color);
}

form .button input:hover {
  opacity: 0.8;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
